<ion-header mode="ios" [translucent]="true" class="ion-no-border ion-padding-horizontal"
  style="padding-top: 32px;padding-bottom: 16px;">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button color="dark" size="large" strong="true">
        <h1 class="ion-no-margin" style="font-family: 'Monoton', sans-serif">
          Stats
        </h1>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <canvas baseChart style="width: 100%;"
  [type]="'polarArea'"
  [datasets]="[pieChartDatasets]"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [legend]="pieChartLegend"></canvas>
  <swiper-container [loop]="true">
    <swiper-slide>
      <h1>ash</h1>
    </swiper-slide>
    <swiper-slide>
      <h1>ash</h1>
    </swiper-slide>
    <swiper-slide>
      <h1>ash</h1>
    </swiper-slide>
  </swiper-container>
</ion-content>