<ion-header mode="ios" [translucent]="true" class="ion-no-border ion-padding-horizontal"
  style="padding-top: 32px;padding-bottom: 16px;">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button color="dark" size="large" strong="true">
        <h1 class="ion-no-margin" style="font-family: 'Monoton', sans-serif">
          Stats
        </h1>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>sdsdsud</h1>

  <div style="background: #ffffff4b; border: 1px solid #fff;" class="ion-padding">
    <div echarts [options]="chartOption" class="demo-chart"></div>
  </div>

</ion-content>