<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="addtransaction" href="/tabs/addtransaction">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="smslog" href="/tabs/smslog">
      <ion-icon aria-hidden="true" name="notifications-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
