<ion-tabs>
  <ion-tab-bar
    slot="bottom"
    color="transparent"
    class="tab-bg"
  >
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="addtransaction"
      href="/tabs/addtransaction"
      (click)="setEmptyTransaction()"
    >
      <ion-icon
        aria-hidden="true"
        size="large"
        name="add-circle-outline"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="pie-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="smslog" href="/tabs/smslog">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
