<ion-header
  mode="ios"
  [translucent]="true"
  class="ion-no-border ion-padding-horizontal ion-margin-top ion-padding-top"
>
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button color="dark" size="large" strong="true">
        <h1 class="ion-no-margin" style="font-family: 'Monoton', sans-serif">
          SMS Logs
        </h1>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-toggle
        value="credit"
        (ionChange)="toggleStateChange($event)"
        [enableOnOffLabels]="true"
        color="success"
        class="credit"
      ></ion-toggle>
      <ion-toggle
        value="debit"
        (ionChange)="toggleStateChange($event)"
        class="ion-margin-horizontal debit"
        [enableOnOffLabels]="true"
        color="danger"
      ></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <p>Queue:{{ transactionQueue |json }}</p>
  <p>
    Credit:{{ creditSmsList |json }} <br />
    <!-- {{ creditSmsList[1] |json }} -->
  </p>
  <p>
    Spent:{{ spentSmsList |json }} <br />
    <!-- {{ spentSmsList[1] |json }} -->
  </p>
</ion-content>
